<%= form_for(@payment_option) do |f| %>
    <% if @payment_option.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@payment_option.errors.count, "error") %> prohibited this payment_option from being
            saved:</h2>

          <ul>
            <% @payment_option.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :type %>
      <br/>
      <%= f.text_field :type %>
    </div>
    <div class="field">
      <%= f.label :account_card_number %>
      <br/>
      <%= f.text_field :account_card_number %>
    </div>
    <div class="field">
      <%= f.label :routing_cvv_number %>
      <br/>
      <%= f.text_field :routing_cvv_number %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
