<h1>Listing payment_options</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Account card number</th>
    <th>Routing cvv number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @payment_options.each do |payment_option| %>
      <tr>
        <td><%= payment_option.type %></td>
        <td><%= payment_option.account_card_number %></td>
        <td><%= payment_option.routing_cvv_number %></td>
        <td><%= link_to 'Show', payment_option %></td>
        <td><%= link_to 'Edit', edit_payment_option_path(payment_option) %></td>
        <td><%= link_to 'Destroy', payment_option, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Payment option', new_payment_option_path %>
